* {
  margin: 0;
  padding: 0;
}
html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.imgbox {
  display: grid;
  height: 100%;
  position: absolute;
  z-index: -1;
}
.center-fit {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  filter: blur(2px);
  filter: brightness(65%);
  background-color: #a79d8e;
}
.mainText {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 10%;
  /* background-color: rgba(0, 0, 0, 0.1); */
  display: inline-flex;
  font-size: 64px;
  color: white;
}
.lesserText {
  font-size: 32px;
  text-align: center;
}
.textP {
  margin-top: auto;
  margin-bottom: auto;
}
.name {
  font-size: 12px;
  text-align: center;
}
